# {{options.summary}}

{{options.description}}

## 请求参数

| 名称 | 位置 | 类型 | 必填 |默认值| 描述 |
| ---- | --- | ---- | ---- | --- | ---- |
{{#if options.parameters}}
{{#each options.parameters}}
| {{{name}}} | {{{in}}} | {{{ schema.type }}} | {{#if required}}\*{{/if}} | {{{schema.default}}} | {{{description}}}。{{#if schema.enum}}枚举值：{{#each schema.enum}}`{{{this}}}`{{#unless @last}}，{{/unless}}{{/each}}。{{else}}示例：`{{{example}}}` {{/if}} |
{{/each}}
{{/if}}
{{#if request}}
{{#each request.properties}}
| {{{@key}}} | body| {{#if this.type }}{{{ this.type }}}{{else}}<a href="#{{{this.schema}}}">{{{this.schema}}}</a>{{/if}} | {{#if this.required}}\*{{/if}} | {{{this.default}}} | {{{this.description}}}。{{#if this.enum}}枚举值：{{#each this.enum}}`{{{this}}}`{{#unless @last}}，{{/unless}}{{/each}}。{{else}}示例：`{{{this.example}}}` {{/if}}  |
{{/each}}
{{/if}}

## 示例代码

```{{language}}
{{code}}
```

## 请求响应

类型： {{ response.name }}

| 名称 | 类型 | 描述 |
| ---- | ---- | ---- |
{{#each response.properties}}
| {{{@key}}} | {{#if this.type }}{{{ this.type }}}{{else}}<a href="#{{{this.schema}}}">{{{this.schema}}}</a>{{/if}} | {{{this.description}}} |
{{/each}}


示例结果：



## 数据结构

{{#each models}}
### <a id="{{name}}"></a> {{ name }}

| 名称 | 类型 | 必填 |默认值| 描述 |
| ---- |  ---- | ---- | --- | ---- |
{{#each properties}}
| {{{@key}}} | {{#if this.type }}{{{ this.type }}}{{else}}<a href="#{{{this.schema}}}">{{{this.schema}}}</a>{{/if}} | {{#if this.required}}\*{{/if}} | {{{this.default}}} | {{{this.description}}}。{{#if this.enum}}枚举值：{{#each this.enum}}`{{{this}}}`{{#unless @last}}，{{/unless}}{{/each}}。{{else}}示例：`{{{this.example}}}` {{/if}}  |
{{/each}}
{{/each}}
