# {{options.summary}}

{{options.description}}

## 请求参数

{{#if options.parameters}}
| 名称 | 位置 | 类型 | 必填 | 描述 |
| ---- | --- | ---- | ---- | ---- |
{{#each options.parameters}}
| {{{name}}} | {{{in}}} | {{{ schema.type }}} | {{{required}}} | {{{description}}}。 示例：`{{{example}}}` |
{{/each}}
{{/if}}
{{#if request}}
|  位置 | 类型 | 必填  |
|  --- | ---- | ---- |
|  body | <a href="#{{{request.name}}}">{{{request.name}}}</a> | {{{request.required}}} |
{{/if}}

## 示例代码

```{{language}}
{{code}}
```

## 请求响应

类型： {{ response.name }}

| 名称 | 类型 | 描述 |
| ---- | ---- | ---- |
{{#each response.kv}}
| {{{0}}} | {{#if 1.type }}{{{ 1.type }}}{{else}}<a href="#{{{1.schema}}}">{{{1.schema}}}</a>{{/if}} | {{{1.description}}} |
{{/each}}


示例结果：



## 数据结构
